body {
	 background: #f2f2f2;
	 -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #333;
}

p {
	color: #ffffff;
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #f85c37;
}
a:hover, a:focus {
	color: #7b7bb;
	text-decoration: none;
}

